

<html>
 <center>
 	<H1> RESULTS </H1> <%= 4+5 %>
 	<br>
 	 <B> Student Name Is :</B> <%= name %>
 	<br>
 	<B> First Number was :</B> <%= first %>
 	<br>
 	<B> Second Number was :</B> <%= second %>
 	<br>
 	<B> Result is :</B> <%= result %>
 </html>


//<%=2+2 %> this will print 4
//2+2 would print 2+2

//to have code processed before printing, is within <%     %> So without the =

// <% if (percentage>60) {
	%>
	You have passed the exam
	<%}%>
					(The text cannot be within the <% %> as it is not code/to be processed, but just plain text to be printed)